﻿<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Vouch a letting industry game changer coming summer 2017" />
    <link rel="apple-touch-icon" sizes="57x57" href="/Content/Images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/Content/Images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Content/Images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/Content/Images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Content/Images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/Content/Images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/Content/Images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/Content/Images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/Content/Images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/Content/Images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Content/Images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/Content/Images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/Images/favicon-16x16.png">
    <link rel="manifest" href="/Content/Images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/Content/Images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="~/Content/Css/styles.css"> 
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
	<div class="root">
		@RenderBody()
	</div>
</body>
</html>
