* {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  width: 100%;
  min-width: 489px;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  min-width: 188px;
  color: #082842;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004) !important;
}
#wrapper {
  transition: all 0.25s ease;
  left: 0;
}
.TwoOptionSelector {
  max-width: 50%;
  display: flex;
  min-height: 40px;
  height: 40px;
  border: 1px solid #bcbec0;
  border-radius: 20px;
}
.TwoOptionSelector > div {
  list-style: none;
  width: 30%;
  max-width: 30%
			display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.TwoOptionSelector .border {
  z-index: -10;
  content: "o";
  display: block;
  height: 38px;
  width: 50px;
  background-color: #34BEBD;
}
.TwoOptionSelector .left-border {
  z-index: -10;
  content: "o";
  display: block;
  height: 38px;
  width: 50px;
  background-color: #34BEBD;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  float: right;
}
.TwoOptionSelector .right-border {
  z-index: -10;
  content: "o";
  display: block;
  height: 38px;
  width: 50px;
  background-color: #34BEBD;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  float: left;
}
.TwoOptionSelector .content {
  width: 100%;
  height: 100%;
  position: absolute;
}
.TwoOptionSelector .left-content {
  width: 100%;
  height: 100%;
  position: absolute;
}
.TwoOptionSelector .left-content > label {
  padding-right: 50px;
}
.TwoOptionSelector .right-content {
  width: 100%;
  height: 100%;
  position: absolute;
}
.TwoOptionSelector .right-content > label {
  padding-left: 50px;
}
.TwoOptionSelector > div:first-child {
  align-self: center;
  display: inline;
  position: relative;
}
.TwoOptionSelector > div:last-child {
  align-self: center;
  display: inline;
  position: relative;
}
.TwoOptionSelector #titleContainer {
  text-align: center;
  border: 1px solid #34BEBD;
  background-color: #34BEBD;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  flex: 1;
}
.TwoOptionSelector #titleContainer #title {
  align-self: center;
}
.TwoOptionSelector input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}
.TwoOptionSelector label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-align: center;
  border-radius: 20px;
}
.TwoOptionSelector input[type=radio]:checked + label {
  color: white;
  font-weight: bold;
  background: #34BEBD;
  border-radius: 20px;
}
.radioSelected {
  border-radius: 0!important;
}
.root {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  width: 100%;
}
.basebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 38px;
  width: 100%;
  display: flex;
  flex-direction: row;
  transition: all 0.25s ease;
  color: #082842;
  height: 116px;
}
@media screen and (max-width: 32em), screen and (max-height: 23.4375em) {
  .basebar {
    padding: 20px;
    height: 80px;
  }
}
#logobar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 38px;
  width: 100%;
  display: flex;
  flex-direction: row;
  transition: all 0.25s ease;
  color: #082842;
  height: 116px;
}
@media screen and (max-width: 32em), screen and (max-height: 23.4375em) {
  #logobar {
    padding: 20px;
    height: 80px;
  }
}
#logobar #logoContainer {
  flex: 1;
  height: 100%;
}
#logobar #showMenu {
  background-image: url('../images/hamburger.svg');
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 0;
  display: none;
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 60em) {
  #logobar #showMenu {
    display: inline;
  }
}
#menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 38px;
  width: 100%;
  display: flex;
  flex-direction: row;
  transition: all 0.25s ease;
  color: #082842;
  height: 116px;
  z-index: 200;
  justify-content: flex-end;
}
@media screen and (max-width: 32em), screen and (max-height: 23.4375em) {
  #menu {
    padding: 20px;
    height: 80px;
  }
}
#menu #menu-items {
  align-self: flex-end;
  list-style: none;
  font-weight: bold;
}
#menu #menu-items ul {
  list-style-type: none;
  text-align: center;
}
#menu #menu-items ul li {
  display: inline;
  margin: 30px;
}
#menu #nav {
  display: flex;
  flex-wrap: nowrap;
}
#menu #nav > a {
  display: none;
}
#menu #nav > ul {
  clear: both;
  padding: 0;
}
#menu #nav > ul > li {
  list-style: none;
  float: left;
  margin: 1em;
  height: 100%;
}
@media screen and (max-width: 60em) {
  #menu {
    z-index: -200;
    position: fixed;
    left: 60%;
    width: 40%;
    background-color: #34BEBD;
    height: 100%;
  }
  #menu #nav {
    width: 100%;
    flex-direction: column;
  }
}
.navOpen .module.parallax.top {
  left: -40%;
}
.navOpen #logobar {
  left: -40%;
}
.navOpen #wrapper {
  position: relative;
  left: -40%;
  border-right: 1px solid #bcbec0;
  -webkit-box-shadow: 24px -4px 110px -65px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 24px -4px 110px -65px rgba(0, 0, 0, 0.75);
  box-shadow: 24px -4px 110px -65px rgba(0, 0, 0, 0.75);
}
.navOpen #nav > ul > li {
  clear: both;
}
.menu.menuBackground {
  background-color: white;
  border-bottom: #bcbec0 1px solid;
  color: #082842;
}
.module.parallax.top {
  transition: left 0.25s ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('../images/header-image3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
#header {
  display: block;
  height: 80vh;
  padding-top: 116px;
  overflow: hidden;
}
#header #slider {
  height: 100%;
  overflow: hidden;
}
#header #slider ul li {
  width: 33.3333%;
  height: 100%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}
#header #slider ul {
  width: 300%;
  height: 100%;
  position: relative;
  list-style: none;
  left: 0;
  margin: 0;
  padding: 0;
  top: 0;
  animation-timing-function: ease-in-out;
  -webkit-timing-function: ease-in-out;
  -moz-timing-function: ease-in-out;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation: slide-animation 15s infinite;
  -moz-animation: slide-animation 15s infinite;
  -webkit-animation: slide-animation 15s infinite;
}
#header #slider ul li div:hover {
  animation-play-state: paused;
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
}
#header .content {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 70%;
  color: #34BEBD;
}
#header .content h1 {
  font-size: 8vmin;
  padding: 0;
  margin: 0;
  font-weight: bold;
  margin-bottom: 1em;
}
@media screen and (orientation: landscape) {
  #header {
    height: 100vh;
    padding-top: 80px;
  }
  #header .content {
    width: 100%;
    padding: 3em;
  }
}
#container {
  background-color: white;
}
#strapline {
  background-color: #34BEBD;
  display: flex;
  flex-direction: row;
  padding: 2vh;
  color: white;
  height: 20vh;
}
#strapline h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin: 0;
  font-size: 8vmin;
  word-wrap: break-word;
  align-self: center;
}
#strapline #icon {
  width: 15vmin;
  height: 100%;
  margin-right: 30px;
}
#strapline h1 {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#opener {
  display: flex;
  flex-direction: column;
  background-color: #f1f2f2;
  border-bottom: rgba(188, 190, 192, 0.5) 1px solid;
  padding: 70px;
}
#keypoints {
  padding: 70px;
}
#keypoints #keypointContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#keypoints #keypointContainer .keypoint {
  width: 250px;
  flex: 1 1 250px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 0 50px;
  max-width: 250px;
}
#keypoints #keypointContainer .keypoint .icon {
  margin-bottom: 30px;
}
#keypoints #keypointContainer .keypoint .title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}
#keypoints #keypointContainer .keypoint h2 {
  font-size: 2.5em;
  font-weight: bold;
  margin: 0;
  color: #34BEBD;
  width: 100%;
  margin-bottom: 10px;
}
#vouchMark {
  display: flex;
  align-items: center;
  background-color: #f1f2f2;
  background-image: url('../images/logo-stamp.png');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 4vmin;
  color: #082842;
  max-height: 300px;
  border-bottom: rgba(188, 190, 192, 0.5) 1px solid;
  border-top: rgba(188, 190, 192, 0.5) 1px solid;
  padding: 1.5em;
}
#vouchMark p {
  width: 50%;
}
#vouchDetails {
  background-color: white;
  background-image: url('../images/vouch-in-use2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  color: white;
}
#vouchDetails #detailsContainer {
  transition: all 0.25s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding: 4em;
}
@media screen and (max-width: 54.1875em) {
  #vouchDetails #detailsContainer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }
}
#vouchDetails #detailsContainer h1 {
  margin: 0;
  padding: 0;
  font-size: 10vmin;
  font-weight: bold;
}
#vouchBenefits {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#vouchBenefits h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin: 0;
}
#vouchBenefits #benefitsContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 3em;
}
#vouchBenefits #vouchReport {
  flex: 1;
  width: 100%;
  overflow: hidden;
  align-self: flex-end;
}
#vouchBenefits #vouchReport img {
  width: 100%;
}
@media screen and (max-width: 52.5625em) {
  #vouchBenefits {
    flex-direction: column-reverse;
  }
}
#vouchImpact {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
#vouchImpact .slider {
  flex: 1;
  margin-left: 30px;
}
@media screen and (max-width: 52.5625em) {
  #vouchImpact .slider {
    margin-left: 0;
  }
}
#vouchImpact button {
  margin-top: 50px;
  align-self: center;
}
.slider {
  display: flex;
  flex-direction: column;
}
.slider #sliderHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-wrap: 0;
  font-size: 1.2em;
}
.slider #sliderHeader #sliderHeaderMin {
  flex: 0;
  padding: 5px;
  font-size: 2em;
}
.slider #sliderHeader #sliderHeaderTitle {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  padding: 5px;
}
.slider #sliderHeader #sliderHeaderTitle #sliderValue {
  font-weight: bold;
  color: #34BEBD;
}
.slider #sliderHeader #sliderHeaderMax {
  flex: 0;
  padding: 5px;
  font-size: 2em;
}
.slider #sliderFooter {
  display: flex;
  flex-direction: column;
}
.slider #sliderFooter [id^="sliderFooterRow"] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}
.slider #sliderFooter [id^="sliderFooterRow"] img {
  height: 50px;
  margin-bottom: 10px;
}
.slider #sliderFooter [id^="sliderFooterRow"] span {
  font-size: 2em;
  color: #34BEBD;
  font-weight: bold;
}
.slider #sliderFooter [id^="sliderFooterRow"] .sliderFooterItem {
  flex: 1;
  text-align: center;
  min-width: 80px;
  align-self: center;
  margin-bottom: 5px;
}
#footer {
  background-color: #082842;
  min-height: 300px;
  height: auto;
  color: white;
  width: 100%;
  padding: 38px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
#footer a {
  color: white;
}
#footer #footerActionContainer {
  display: flex;
  flex: 1;
  flex-shrink: 0;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
#footer #footerActionContainer .action {
  display: flex;
  flex-direction: column;
  flex: 1;
}
#footer #footerActionContainer .action img {
  margin-right: 20px;
}
#footer #footerActionContainer .action img:last-child {
  margin-right: 0;
}
#footer #footerActionContainer .action #footerSociaLinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (max-width: 48.5625em) {
  #footer #footerActionContainer {
    flex-direction: column;
  }
  #footer #footerActionContainer .action {
    flex: auto;
  }
}
#footer #footerLinkContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 80px;
}
#footer #footerLinkContainer #footerLinks {
  flex: 1;
  align-self: flex-end;
}
#footer #footerLinkContainer #footerlogoContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex: 1;
  justify-content: flex-end;
}
#footer #footerLinkContainer #footerlogoContainer #footerLogo {
  height: 100%;
  max-width: 200px;
  flex: 1;
}
@media screen and (max-width: 34.3125em) {
  #footer #footerLinkContainer {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  #footer #footerLinkContainer #footerLinks {
    flex: auto;
    align-self: center;
    margin-bottom: 10px;
  }
  #footer #footerLinkContainer #footerlogoContainer {
    padding: 3px;
    height: 100%;
    flex: auto;
    justify-content: center;
  }
  #footer #footerLinkContainer #footerlogoContainer img {
    width: 100%;
    height: 100%;
  }
}
#footer #footerCopyright {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
  font-size: 0.7em;
}
#footer #footerCopyright div {
  flex: 1;
}
#footer #footerCopyright > div:last-child {
  text-align: right;
}
#footer h2 {
  font-weight: 300;
  font-size: 1.5em;
}
#footer button {
  height: 50px;
  width: 150px;
  margin-top: 15px;
}
@keyframes slide-animation {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  50% {
    left: -100%;
  }
  75% {
    left: -100%;
  }
  80% {
    left: -200%;
  }
  100% {
    left: -200%;
  }
}
@-webkit-keyframes slide-animation {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  50% {
    left: -100%;
  }
  75% {
    left: -100%;
  }
  80% {
    left: -200%;
  }
  100% {
    left: -200%;
  }
}
@-moz-keyframes slide-animation {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  50% {
    left: -100%;
  }
  75% {
    left: -100%;
  }
  80% {
    left: -200%;
  }
  100% {
    left: -200%;
  }
}
hr {
  border-top: #082842 1px solid;
}
.hidden {
  display: hidden;
  opacity: 0;
}
.logo {
  height: 100%;
}
.strongTitle {
  font-size: 2.5em;
  font-weight: bold;
  margin: 0;
}
.topBorderedBlock {
  margin-top: 30px;
  border-top: #082842 0.7px solid;
  padding-right: 150px;
  display: inline-block;
  align-self: flex-start;
}
.topBorderedBlockWhite {
  margin-top: 30px;
  border-top: #082842 0.7px solid;
  padding-right: 150px;
  display: inline-block;
  align-self: flex-start;
  border-color: white;
}
.row {
  display: flex;
  flex-direction: column;
}
.column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.centered {
  align-content: center;
  align-items: center;
}
.vcentered {
  justify-content: center;
}
.stretch {
  align-items: stretch;
  align-content: stretch;
}
.item {
  flex: 1;
}
a,
a:visited {
  color: #082842;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
button {
  width: 250px;
  height: 60px;
  border-radius: 100px;
  background-color: #34BEBD;
  border: none;
  -webkit-appearance: none;
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
}
button:hover {
  text-decoration: none;
}
.button {
  width: 250px;
  height: 60px;
  border-radius: 100px;
  background-color: #34BEBD;
  border: none;
  -webkit-appearance: none;
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:hover {
  text-decoration: none;
}
input[type=text] {
  border: 1px solid rgba(8, 40, 66, 0.5);
  border-radius: 20px;
  padding: 10px;
  height: 40px;
  max-width: 400px;
}
@media screen and (max-width: 319px) {
  input[type=text] {
    width: 100%;
  }
}
::-webkit-input-placeholder {
  /* Chrome */
  color: #bcbec0;
  opacity: 0.8;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #bcbec0;
  opacity: 0.8;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #bcbec0;
  opacity: 0.8;
}
:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: #bcbec0;
  opacity: 0.8;
}
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 19.35px 0;
  background-color: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  background: #f1f2f2;
  border-radius: 15px;
  border: 0.5px solid rgba(188, 190, 192, 0.5);
}
input[type=range]::-webkit-slider-thumb {
  border: 0.2px solid rgba(8, 40, 66, 0.5);
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background: #34BEBD;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #f1f2f2;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  background: #f1f2f2;
  border-radius: 15px;
  border: 0.5px solid rgba(188, 190, 192, 0.5);
}
input[type=range]::-moz-range-thumb {
  border: 0.2px solid rgba(8, 40, 66, 0.5);
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background: #34BEBD;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #f1f2f2;
  border: 0.5px solid rgba(188, 190, 192, 0.5);
  border-radius: 15px;
}
input[type=range]::-ms-fill-upper {
  background: #34BEBD;
  border: 0.5px solid rgba(188, 190, 192, 0.5);
  border-radius: 15px;
}
input[type=range]::-ms-thumb {
  border: 0.2px solid rgba(8, 40, 66, 0.5);
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background: #34BEBD;
  cursor: pointer;
}
