// out: core-styles.css, sourcemap: true, compress: false

@blue: rgb(8,40,66);
@teal: #34BEBD;//rgb(52,190,189);
@lightGrey: rgb(241,242,242);
@darkGrey: rgb(188,190,192);
@blueAlpha50: rgba(8,40,66,0.5);
@tealAlpha50: rgba(52,190,189,0.5);
@lightGreyAlpha50: rgba(241,242,242,0.5);
@darkGreyAlpha50: rgba(188,190,192,0.5);

*{
	box-sizing: border-box;
}
body,html{
	height:100%;
	width:100%;
	min-width: 489px;
	margin:0;
	padding:0;
	font-family: 'Montserrat', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
	min-width: 188px;
	color: @blue;
	-webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004) !important;
}
#wrapper{
	transition: all 0.25s ease;
	left: 0;
}

.TwoOptionSelector{
	max-width: 50%;
	display: flex;
	min-height: 40px;
	height:40px;
	border: 1px solid @darkGrey;
	border-radius: 20px;

		& > div{
			list-style: none;
			width: 30%;
			max-width: 30%
			display: flex;
			height: 100%;
			align-items: center;
			justify-content: center;
			display: flex;
		}
		.border{
			z-index: -10;
			content: "o";
			display: block;
			height: 38px;
			width: 50px;
			background-color: @teal;
		}
		.left-border{
			.border();
			border-top-left-radius: 20px;
			border-bottom-left-radius: 20px;
						float: right;
		}
		.right-border{
			.border();
			border-top-right-radius: 20px;
			border-bottom-right-radius: 20px;
			float: left;
		}
		.content{
			width: 100%;
			height: 100%;
			position: absolute;
		}
		.left-content{
			.content();
			& > label {
				padding-right: 50px;
			}
		}
		.right-content{
			.content();
			& > label {
				padding-left: 50px;
			}
		}
		& > div:first-child{
			align-self: center;
			display: inline;
			position: relative;
			// flex: 0;
		}
		& > div:last-child{
			align-self: center;
			display: inline;
			position: relative;
			// flex:0;
	}
	#titleContainer{
		text-align: center;
		border: 1px solid @teal;
		background-color: @teal;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50%;
		flex: 1;
		#title{
			align-self: center;
		}
	}
	input[type=radio] {
		position: absolute;
	  visibility: hidden;
	  display: none;
	}

	label{
		display: inline-flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
		overflow: hidden;
		text-align: center;
		border-radius: 20px;
	}

	input[type=radio]:checked + label {
		color: white;
		font-weight: bold;
	  background: @teal;
		border-radius: 20px;
	}
}

.radioSelected{
		border-radius: 0!important;
}

.root{
	display: flex;
	flex: 0 0 auto;
	flex-direction: column;
	width: 100%;
}

.basebar{
  position: fixed;
  top:0;
  left: 0;
  z-index: 100;
  padding: 38px;
  width: 100%;
  display: flex;
  flex-direction: row;
  transition: all 0.25s ease;
  color: @blue;
	height: 116px;
	@media screen and (max-width: 32em),screen and (max-height: 23.4375em) {
		padding: 20px;
		height:80px;
	}
}
#logobar{
	.basebar();
	#logoContainer{
		flex: 1;
		height: 100%;
	}

	#showMenu
	{
		background-image: url('../images/hamburger.svg');
		background-color: transparent;
		background-size: contain;
		background-repeat: no-repeat;
		border-radius: 0;
		display: none;
		width: 50px;
		height: 50px;
	}
	@media screen and (max-width: 60em){
		#showMenu{
			display: inline;
		}
	}
}
#menu{
	.basebar();
	z-index: 200;
	justify-content: flex-end;

	#menu-items{
		align-self: flex-end;
		list-style: none;
		font-weight: bold;
		 ul{
			 list-style-type: none;
			 text-align: center;
		 }
		 ul li{
			 display: inline;
			 margin: 30px;
		 }
	}
	nav{
	}
	#nav{
		display: flex;
		flex-wrap: nowrap;
	}
	#nav > a{
		display: none;
	}
	#nav > ul{
		clear: both;
		padding: 0;
	}
	#nav > ul > li{
		list-style: none;
		float: left;
		margin: 1em;
		height: 100%;
	}
	@media screen and (max-width: 60em){
		z-index: -200;
		position: fixed;
		left: 60%;
		width: 40%;
		background-color: @teal;
		height: 100%;
		#nav{
			width: 100%;
			flex-direction: column;
		}
	}
}
.navOpen {
	.module.parallax.top{
		left:-40%;
	}
	#logobar{
		left: -40%;
	}
	#wrapper{
		position:relative;
		left: -40%;
		border-right: 1px solid @darkGrey;
		-webkit-box-shadow: 24px -4px 110px -65px rgba(0,0,0,0.75);
		-moz-box-shadow: 24px -4px 110px -65px rgba(0,0,0,0.75);
		box-shadow: 24px -4px 110px -65px rgba(0,0,0,0.75);
	}
	#nav > ul > li{
		clear: both;
	}
}

.menu.menuBackground{
  background-color: white;
  border-bottom: @darkGrey 1px solid;
  color: @blue;
}
.module{

}
.module.parallax{
}
.module.parallax.top{
	transition: left 0.25s ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('../images/header-image3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}
#header{
    display: block;
    height: 80vh;
		padding-top: 116px;
		overflow: hidden;

		#slider{
			height: 100%;
			overflow: hidden;
		}
		#slider ul li{
			width: 33.3333%;
			height: 100%;
			float: left;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		#slider ul{
		  width: 300%;
		  height: 100%;
		  position: relative;
		  list-style: none;
		  left: 0;
		  margin: 0;
		  padding: 0;
		  top: 0;
		   animation-timing-function: ease-in-out;
			 -webkit-timing-function: ease-in-out;
			 -moz-timing-function: ease-in-out;
		   animation-delay: 1s;
			 -webkit-animation-delay: 1s;
			 -moz-animation-delay: 1s;
			animation: slide-animation 15s infinite;
		  -moz-animation:slide-animation 15s infinite;
		  -webkit-animation:slide-animation 15s infinite;

			li div:hover {
				animation-play-state: paused;
				-moz-animation-play-state:paused;
				-webkit-animation-play-state:paused;
			}
		}
    .content{
			display: flex;
			flex-direction: column;
			align-self: center;

      width: 70%;
      color: @teal;

      h1{
        font-size: 8vmin;
        padding: 0;
        margin:0;
        font-weight: bold;
				margin-bottom: 1em;
        //text-shadow: 0 1px 5px @lightGreyAlpha50;
      }
    }

		@media screen and (orientation: landscape)
		{
			height: 100vh;
			padding-top:80px;
			.content{
				width: 100%;
				padding: 3em;
			}
		}
}

#container{
  background-color: white;
}
#strapline{
  background-color: @teal;
  display: flex;
  flex-direction: row;
  padding: 2vh;
  color: white;
	height: 20vh;
	h1{
			.strongTitle();
		  font-size: 8vmin;
			word-wrap: break-word;
			align-self: center;
	}
  #icon{
    width: 15vmin;
		height: 100%;
    margin-right: 30px;
  }
  h1{
    display: inline-block;
    padding: 0;
    margin: 0;

  }
}
#opener{
	.row();
	background-color: @lightGrey;
	border-bottom: @darkGreyAlpha50 1px solid;
	padding: 70px;
}
#keypoints{
    padding: 70px;

#keypointContainer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .keypoint{
		width: 250px;
    flex: 1 1 250px;
    display: flex;
		flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 0 50px;
		max-width: 250px;
		.icon{
			margin-bottom: 30px;
		}
		.title{
			font-size: 1.5em;
			font-weight: bold;
			margin-bottom: 10px;
		}
    h2{
			.strongTitle();
      color: @teal;
			width: 100%;
			margin-bottom: 10px;
    }
  }
}
}
#vouchMark{
	display: flex;
	align-items: center;
  background-color: @lightGrey;
  background-image: url('../images/logo-stamp.png');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 4vmin;
  color: @blue;
  max-height: 300px;
  border-bottom: @darkGreyAlpha50 1px solid;
	border-top: @darkGreyAlpha50 1px solid;
  padding:1.5em;
  p{
    width: 50%;
  }
}
#vouchDetails{
  background-color: white;
  background-image: url('../images/vouch-in-use2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height:700px;
  color: white;

  #detailsContainer{
		transition: all 0.25s ease;
		.row();
		.vcentered();
		width: 50%;
		height: 100%;
		padding: 4em;
		@media screen and (max-width: 54.1875em){
			width: 100%;
			background-color: rgba(0,0,0,0.2);
		}
    h1{
      margin:0;
      padding:0;
      font-size: 10vmin;
      font-weight: bold;
    }
  }
}
#vouchBenefits{
	.column();
	h1{
		.strongTitle();
	}
	// background-image: url('../images/report.png');
	// background-size: contain;
	// background-repeat: no-repeat;
	// background-position-x: -150px;

	#benefitsContainer{
		.row();
		flex: 1;
		padding: 3em;
	}
	#vouchReport{
		flex: 1;
		width: 100%;
		//height: 100%;
		overflow: hidden;
		align-self: flex-end;
		img{
			width: 100%;
		}
	}

	@media screen and (max-width: 52.5625em){
		flex-direction: column-reverse;
		#benefitsContainer{

		}
	}
}
#vouchImpact{
	.row();
	margin-top: 30px;
	.slider{
		flex:1;
		margin-left: 30px;
		@media screen and (max-width: 52.5625em){
			margin-left: 0;
		}
	}

	button{
		margin-top: 50px;
		align-self: center;
	}
}
.slider{
	.row();

	#sliderHeader{
		.column();
		flex-wrap: 0;
		font-size: 1.2em;

		#sliderHeaderMin{
			flex:0;
			padding:5px;
			font-size: 2em;
		}
		#sliderHeaderTitle{
			.row();
			flex:1;
			text-align: center;
			padding:5px;

			#sliderValue{
				font-weight: bold;
				color:@teal;
			}
		}
		#sliderHeaderMax{
			flex:0;
			padding:5px;
			font-size: 2em;
		}
	}
	#sliderFooter{
		.row();

		[id^="sliderFooterRow"]{
			.column();
			align-items: center;
			justify-content: center;
			flex: 0 0 auto;

			img{
				height: 50px;
				margin-bottom: 10px;
			}

			span{
				font-size: 2em;
				color: @teal;
				font-weight: bold;
			}

			.sliderFooterItem{
				flex:1;
				text-align: center;
				min-width: 80px;
				align-self: center;
				margin-bottom: 5px;
			}

			// & > :first-child, & > :last-child{
			// 	flex: 0;
			// }
		}
	}
}
#footer{
  background-color: @blue;
  min-height: 300px;
	height:auto;

  color: white;
  width: 100%;
	padding: 38px;
  .row();

	flex-shrink: 0;
	a{
		color: white;
	}
	a:visited{

	}

  #footerActionContainer{
    display: flex;
		flex:1;
		flex-shrink: 0;
    flex-direction: row;
		flex-wrap: wrap;
		margin-bottom: 30px;

    .action{
			.row();
			.item();
			img{
				margin-right: 20px;
			}
			img:last-child{
				margin-right: 0;
			}
			//not right sort it out
			#footerSociaLinks{
				.column();
			}
    }

		@media screen and (max-width: 48.5625em){
			//777px
			flex-direction: column;
			.action{
				flex: auto;
			}
		}
  }
	#footerLinkContainer{
		.column();
		height: 80px;
		#footerLinks{
			flex: 1;
				align-self: flex-end;
		}

		#footerlogoContainer{
			display: flex;
			width: 100%;
			height: 100%;
			flex:1;
			justify-content: flex-end;

			#footerLogo{
				.logo();
				max-width: 200px;
				flex:1;
			}
		}
		@media screen and (max-width: 34.3125em){
					flex-direction: column;
					flex-wrap: nowrap;

					#footerLinks{
						flex: auto;
						align-self: center;
						margin-bottom: 10px;
					}

					#footerlogoContainer{
						padding: 3px;
						height: 100%;
						flex: auto;
						justify-content: center;
						img{
							width: 100%;
							height: 100%;
						}
					}
			}
	}
	#footerCopyright{
		.column();
		margin-top: 10px;
		font-size: 0.7em;

		div{
			flex: 1;
		}

		& > div:last-child{
			text-align: right;
		}
	}
  h2{
    font-weight: 300;
    font-size: 1.5em;
  }
  button{
    height: 50px;
    width: 150px;
		margin-top: 15px;
  }
}
//Animations
@keyframes slide-animation {
0% { left: 0%; }
20% { left: 0% }
25% {left: -100%}
50% { left: -100%}
75% { left: -100%}
80% { left: -200%}
100% { left: -200%; }
}
@-webkit-keyframes slide-animation {
	0% { left: 0%; }
	20% { left: 0% }
	25% {left: -100%}
	50% { left: -100%}
	75% { left: -100%}
	80% { left: -200%}
	100% { left: -200%; }
}

@-moz-keyframes slide-animation {
	0% { left: 0%; }
	20% { left: 0% }
	25% {left: -100%}
	50% { left: -100%}
	75% { left: -100%}
	80% { left: -200%}
	100% { left: -200%; }
}
// Common Items
hr{
	border-top: @blue 1px solid;
}
.hidden{
  display: hidden;
  opacity: 0;
}
.logo{
  height: 100%;
}
.strongTitle{
	font-size: 2.5em;
	font-weight: bold;
	margin: 0;
}
.topBorderedBlock{
	margin-top: 30px;
	border-top: @blue 0.7px solid;
	padding-right: 150px;
	display: inline-block;
	align-self: flex-start;
}
.topBorderedBlockWhite{
	.topBorderedBlock();
	border-color: white;
}
.row{
  display: flex;
  flex-direction: column;
}
.column{
  display: flex;
  flex-direction: row;
	flex-wrap: wrap;
}
.centered{
  align-content: center;
  align-items: center;
}
.vcentered{
  justify-content: center;
}
.stretch{
  align-items: stretch;
  align-content: stretch;
}
.item{
  flex: 1;
}
a, a:visited{
	color: @blue;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;;
}
button{
	.button();
	display:block;
}
 .button{
	width: 250px;
	height: 60px;
	border-radius: 100px;
	background-color: @teal;
  border: none;
  -webkit-appearance: none;
  font-size: 1.1em;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover{
		text-decoration: none;
	}
}
input[type=text]{
	border: 1px solid @blueAlpha50;
	border-radius:20px;
	padding: 10px;
	height: 40px;
	max-width: 400px;
	@media screen and (max-width: 319px){
		width: 100%;
	}
}
::-webkit-input-placeholder { /* Chrome */
  color: @darkGrey;
  opacity: 0.8;
}
:-ms-input-placeholder { /* IE 10+ */
  color: @darkGrey;
  opacity: 0.8;
}
::-moz-placeholder { /* Firefox 19+ */
  color: @darkGrey;
  opacity: 0.8;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: @darkGrey;
  opacity: 0.8;
}



//range styling
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 19.35px 0;
	background-color: transparent;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  background: @lightGrey;
  border-radius: 15px;
  border: 0.5px solid @darkGreyAlpha50;
}
input[type=range]::-webkit-slider-thumb {
  border: 0.2px solid @blueAlpha50;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background: @teal;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: @lightGrey;
}
input[type=range]::-moz-range-track {
  width: 100%;
	height: 30px;
  cursor: pointer;
  background: @lightGrey;
  border-radius: 15px;
  border: 0.5px solid @darkGreyAlpha50;
}
input[type=range]::-moz-range-thumb {
	border: 0.2px solid @blueAlpha50;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background: @teal;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: @lightGrey;
  border: 0.5px solid @darkGreyAlpha50;
  border-radius: 15px;
}
input[type=range]::-ms-fill-upper {
  background: @teal;
	border: 0.5px solid @darkGreyAlpha50;
  border-radius: 15px;
}
input[type=range]::-ms-thumb {
	border: 0.2px solid @blueAlpha50;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background: @teal;
  cursor: pointer;
}
