﻿@blue: rgb(8,40,66);
@teal: rgb(52,190,189);
@lightGrey: rgb(241,242,242);
@darkGrey: rgb(188,190,192);
@blueAlpha50: rgba(8,40,66,0.5);
@tealAlpha50: rgba(52,190,189,0.5);
@lightGreyAlpha50: rgba(241,242,242,0.5);
@darkGreyAlpha50: rgba(188,190,192,0.5);

*{
	box-sizing: border-box;
}
body,html{
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	font-family: 'Montserrat', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	min-width: 188px;
	color: @blue;
}
.centred-box{
    width: 100%;
    padding: 10px;
	margin: 0 auto;
	//@media screen and (max-width: 1024px) {
 //       width: 70%;
 //   }
	//@media screen and (max-width: 736px) {

 //   }
}
.root{
	display: flex;
	flex: 0 0 auto;
	flex-direction: column;
	height: 100% !important;
	width: 100%;
}
.outer-container{
	max-width: 100%;
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
		@media screen and (orientation: landscape){
		flex-direction:row;
	}
}
.top-container{
	flex: 1 auto;
	display: flex;
	flex-direction: column;
}
.bottom-container{
	flex: 1 auto;
	//@media screen and (max-height: 685px), screen and (max-width: 486px){
	//	flex: 1 0 auto;
	//}
	display: flex;
	flex-direction: column;
}
.header{
	padding: 20px;
	flex: 1 0 50%;
	@media screen and (max-width: 768px){
		flex: 1 auto;
	}
	display: flex;
	background: @teal;
	#logo{
		@media screen and (min-width: 1025px){
			padding: 5em;
		}
		display: block;
		margin: 0 auto;
		max-width: 100%;
		max-height: 100%;
		height: auto;
		width: 100%;
	}
}
.strapline{
	//flex: 1 1 30%;
	background-color: @teal;
	display: block;
	#content{
		.centred-box();
		display: block;
		color: white;
		font-weight: bold;
		font-size: 6em;
		@media screen and (max-width: 1023px){
			font-size: 2.8em;
		}
		@media screen and (max-height: 320px), screen and (max-height: 568px) and (orientation: portrait), screen and (max-width: 315px){
			font-size: 1.5em;
		}
	}
}
.info{
	flex: 1 1 20%;
	display: flex;
	align-items: center;
	#content{
		.centred-box();
		color: @blue;
		font-weight: bold;
		text-align: center;
		font-size: 3em;
		@media screen and (max-width: 700px){
			font-size: 1.5em;
		}
		//@media screen and (max-width: 768px) and (min-width: 208px){
		//	font-size: 1.5em;
		//}
	}
}
.blue-block{
	background-color: @blue;
	color: @lightGrey;
}
.seperator{
	flex: 0 0 50px;
	hr{
		height: 1px;
	}
}
.capture{
	.centred-box();
	margin: 0 auto;
	color: @blue;
	font-weight: light;
	font-size: 0.8em;
	margin: 0 auto;
	flex-grow: 1;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.footer{
	flex: 0 0 50px;
	align-self: base-line;
	.blue-block();
	display: flex;
	align-items: center;
	#content{
		display: flex;
		font-size: 0.6em;
		padding: 5px;
		width: 100%;
		#col1{
			flex: 1 1 auto;
			display: flex;
			align-items: center;
		}
		#col2{
			align-self: flex-end;
			img{
				width: 120px;
				margin: 5px;
			}
		}
	}
}
input{
	border: 1px solid @blueAlpha50;
	border-radius:20px;
	padding: 10px;
	height: 40px;
	margin: 5px;
	width: 300px;
	@media screen and (max-width: 319px){
		width: 100%;
	}
}
::-webkit-input-placeholder { /* Chrome */
  color: @darkGrey;
  opacity: 0.8;
}
:-ms-input-placeholder { /* IE 10+ */
  color: @darkGrey;
  opacity: 0.8;
}
::-moz-placeholder { /* Firefox 19+ */
  color: @darkGrey;
  opacity: 0.8;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: @darkGrey;
  opacity: 0.8;
}
input[type=submit]{
	height: 40px;
	width: 150px;
	border-radius: 25px;
	background-color: @teal;
	border: none;
	color: @lightGrey;
}
.field-validation-error{
	margin: 5px 0 10px 0;
	display: block;
}