* {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  min-width: 188px;
  color: #082842;
}
.centred-box {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
}
.root {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  height: 100% !important;
  width: 100%;
}
.outer-container {
  max-width: 100%;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
@media screen and (orientation: landscape) {
  .outer-container {
    flex-direction: row;
  }
}
.top-container {
  flex: 1 auto;
  display: flex;
  flex-direction: column;
}
.bottom-container {
  flex: 1 auto;
  display: flex;
  flex-direction: column;
}
.header {
  padding: 20px;
  flex: 1 0 50%;
  display: flex;
  background: #34bebd;
}
@media screen and (max-width: 768px) {
  .header {
    flex: 1 auto;
  }
}
.header #logo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: 100%;
}
@media screen and (min-width: 1025px) {
  .header #logo {
    padding: 5em;
  }
}
.strapline {
  background-color: #34bebd;
  display: block;
}
.strapline #content {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  display: block;
  color: white;
  font-weight: bold;
  font-size: 6em;
}
@media screen and (max-width: 1023px) {
  .strapline #content {
    font-size: 2.8em;
  }
}
@media screen and (max-height: 320px), screen and (max-height: 568px) and (orientation: portrait), screen and (max-width: 315px) {
  .strapline #content {
    font-size: 1.5em;
  }
}
.info {
  flex: 1 1 20%;
  display: flex;
  align-items: center;
}
.info #content {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  color: #082842;
  font-weight: bold;
  text-align: center;
  font-size: 3em;
}
@media screen and (max-width: 700px) {
  .info #content {
    font-size: 1.5em;
  }
}
.blue-block {
  background-color: #082842;
  color: #f1f2f2;
}
.seperator {
  flex: 0 0 50px;
}
.seperator hr {
  height: 1px;
}
.capture {
  width: 100%;
  color: #082842;
  font-weight: light;
  font-size: 0.8em;
  margin: 0 auto;
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer {
  flex: 0 0 50px;
  align-self: base-line;
  background-color: #082842;
  color: #f1f2f2;
  display: flex;
  align-items: center;
}
.footer #content {
  display: flex;
  font-size: 0.6em;
  padding: 5px;
  width: 100%;
}
.footer #content #col1 {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}
.footer #content #col2 {
  align-self: flex-end;
}
.footer #content #col2 img {
  width: 120px;
  margin: 5px;
}
input {
  border: 1px solid rgba(8, 40, 66, 0.5);
  border-radius: 20px;
  padding: 10px;
  height: 40px;
  margin: 5px;
  width: 300px;
}
@media screen and (max-width: 319px) {
  input {
    width: 100%;
  }
}
::-webkit-input-placeholder {
  /* Chrome */
  color: #bcbec0;
  opacity: 0.8;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #bcbec0;
  opacity: 0.8;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #bcbec0;
  opacity: 0.8;
}
:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: #bcbec0;
  opacity: 0.8;
}
input[type=submit] {
  height: 40px;
  width: 150px;
  border-radius: 25px;
  background-color: #34bebd;
  border: none;
  color: #f1f2f2;
}
.field-validation-error {
  margin: 5px 0 10px 0;
  display: block;
}
/*# sourceMappingURL=styles.css.map */