﻿@model Vouch.Web.Landing.Models.Contact 
@{
    ViewBag.Title = "Vouch - get recommended";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //The AjaxOptions determine the behavior of the AJAX call
    //(e.g. what method on the server is called, what html element to update upon completion, etc.)
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        LoadingElementId = "loading-area",
        LoadingElementDuration = 0,
        Url = Url.Action("Submit"),
        OnBegin = "HideForm",
        OnFailure = "ShowFailure",
        UpdateTargetId = "message-area"
    };
}
<div class="outer-container">
<div class="top-container">
	<div class="header">
		<img id="logo" src="~/Content/Images/House-Screws.svg" onerror="this.src=House-Screws.png; this.onerror=null;"/>
	</div>
	<div class="strapline">
		<div id="content">Get<br/>recommended</div>
	</div>
</div>
<div class="bottom-container">
	<div class="info">
		<div id="content">&ldquo;A letting industry game changer&rdquo;</div>
	</div>
	<div class="capture">
		<div id="loading-area" class="" style="display:none;">
		    <div class=''><strong>Sending...</strong></div>
		</div>

		<!-- The message-area will be where we display a message after the AJAX call 
		    about whether or not the contact form was successfully sent-->
		<div id="message-area"></div>

		<!-- The form-area contains the contact form that will be submitted via AJAX-->
		<div id="form-area">
<!--			<p>We're busy getting ready for a summer launch of something very exciting but can't give away too much right now.</p>-->
			<p>Want to be kept up to date as we release more details? drop us your email address and you'll be the first to hear</p>
		    @using (Ajax.BeginForm(ajaxOptions))
		    {
		        @Html.AntiForgeryToken()
		        <div>
		            @Html.TextBoxFor(m => m.Email, new { @placeholder="Email" })<br/>
		            @Html.ValidationMessageFor(m => m.Email)
		        </div>
<!--				<div>Optional</div>
		        <div>
		            @Html.TextBoxFor(m => m.Name, new { @placeholder="Name" })
		        </div>
				<div>
		            @Html.TextBoxFor(m => m.Company, new { @placeholder="Company" })
		        </div>-->
				<input type="submit" value="I'm intrigued" />
		    }
		</div>
	</div>
</div>
</div>
<div class="footer">
		<div id="content">
			<div id="col1">Copyright &copy Vouch @DateTime.Now.Year<br/>All rights reserved</div>
			<div id="col2"><img src="~/Content/Images/Logo-Negative.svg" alt="Vouch"/></div>
			<!--<div id="col2"><a href="https://twitter.com/vouch"><img src="~/Content/Images/Twitter.svg" alt="Twitter"/></a></div>-->
		</div>
	</div>
<!-- These methods are invoked at different stages of the AJAX call-->
<script type="text/javascript">
    function HideForm() {
        //When the form is submitted, we hide the form
        $("#form-area").hide();
    }
    function ShowFailure() {
        //In the case that the AJAX call fails to communicate with the server 
        //(e.g. the user's internet connection cuts out), we should display a message to that effect
        $('#message-area').html("<div class='alert alert-danger'><strong>Error!</strong>The server could not be contacted and your message has not been sent. Please check your internet connection and try again later.</div>");
    }
</script>
