﻿@model bool

@if(Model == true)
{
    <div>
        Thanks for registering your interest. We're really excited about what is to come and can't wait to share more information with you.<br/>Stay Tuned!
    </div>
}
else
{
    <div>
        Well that's embarrassing seems we had a bit of a problem. We've notified our tech geeks about the problem in the meantime please <a href="https://vouch.co.uk" title="try again">try again</a><br />Stay Tuned!
    </div>
}

